@import "tailwindcss";

* {
	box-sizing: border-box;
	font-family: "SF Pro Display", Courier, monospace;
}

html,
body,
#root {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	text-align: center;
	font-weight: 500;
	padding: 1.5rem 0;
}

.swiper-pagination-bullet {
	background-color: #d1d5db;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: #1a4225;
}
